@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinning-gradient {
  background: conic-gradient(
    from 90deg at 50% 50%,
    rgba(10, 10, 10, 0) 0deg,
    var(--color-slate-50) 360deg
  );
  animation: rotate 1s infinite linear;
}

.spinning-gradient::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(3rem - 1px);
  height: calc(3rem - 1px);
  background-color: var(--color-slate-900);
  border-radius: 9999px;
}
