@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes translate {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-2%, -3%);
  }
  20% {
    transform: translate(-5%, 2%);
  }
  30% {
    transform: translate(2%, -3%);
  }
  40% {
    transform: translate(-3%, 4%);
  }
  50% {
    transform: translate(0%, 1%);
  }
  60% {
    transform: translate(2%, -2%);
  }
  70% {
    transform: translate(4%, -5%);
  }
  80% {
    transform: translate(1%, -3%);
  }
  90% {
    transform: translate(-2%, 1%);
  }
}

.background {
  background-image: radial-gradient(
    ellipse at bottom left,
    #b5becf 0%,
    #505976 50%,
    #000 100%
  );
}

.background::after {
  content: '';
  background-image: linear-gradient(5deg, #a1a8c0 0%, #5d6683 25%, #273343 70%);
}

.beamOverlay {
  background-image: radial-gradient(
    ellipse at bottom left,
    #b5becf 0%,
    #273343 80%,
    #000 100%
  );
}

.beam {
  height: 150%;
}

.dot {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  animation: blink 8s ease infinite;
}

.grain {
  width: 200%;
  height: 200%;
  background-image: url('/pale/cork.png');
  animation: translate 0.25s steps(10) infinite;
}
