@font-face {
  font-family: 'ldr-ofer-michael';
  src: url('/ld+r/ldr-ofer-michael.eot');
  src:
    url('/ld+r/ldr-ofer-michael.eot') format('embedded-opentype'),
    url('/ld+r/ldr-ofer-michael.woff2') format('woff2'),
    url('/ld+r/ldr-ofer-michael.woff') format('woff'),
    url('/ld+r/ldr-ofer-michael.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.root {
  background-color: #010010;
}

.slotWindow {
  width: 300px;
  height: 100px;
}

.handle {
  width: 40px;
  height: 40px;
}
